<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="description" content="Liquidex.it">
      <meta name="author" content="Valerio Vaccaro">
      <link rel="icon" href="">
      <title>Liquidex</title>
      <link href="/static/bootstrap.min.css" rel="stylesheet">
      <link href="/static/base.css" rel="stylesheet">
      <script src="/static/jquery.min.js"></script>
      <script src="/static/bootstrap.min.js"></script>
   </head>
   <body>
      <nav class="navbar navbar-inverse navbar-fixed-top">
         <div class="container">
            <div class="navbar-header">
               <a class="navbar-brand" href="/">Liquidex.it</a>
               <a class="navbar-brand" href="/proposal">New proposal</a>
               <a class="navbar-brand" href="/book">Order book</a>
               <a class="navbar-brand" href="/about">About</a>
            </div>
         </div>
      </nav>
      <div class="container-fluid">
         <br/><br/><br/><br/>
         <div id="sl">
            <br/><br/>
            <div class="well">
               <h3>Home</h3>
               <p>LiquiDEX is a working protocol to perform 2-steps atomic swaps on Liquid. It requires a single interaction by the swap parties, which drastically improves the UX. It can be used as a building block for implementing more complex systems such as automated OTC desks, auctions or even a decentralized exchange (DEX).</p>
               <p>In this website you can find ont some swap proposals or add your ones.</p>
            </div>
         </div>
      </div>
      </div>
   </body>
</html>
